<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyExpenseTracker</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <h1>My Expense Tracker</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <h3>Upload CSV File</h3>
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Upload</button>
    </form>

    <div class="info">
        <ul>
            <li>Please Provide only CVS file</li>
            <li>CVS file must have
                <ul>
                    <li>
                        'Amount' Column (Transaction Amount Column)
                    </li>
                    <li>'Type' Column (Transaction Type C,D,Debit,Credit)</li>
                    <li>'Beneficiary name' Column (if not Transaction will club with Other name)</li>
                </ul>
            </li>
        </ul>
    </div>
    <footer>
        Copyright © {{current_year}}. All rights reserved.
        <p>
            Designed &amp; Developed by <a target="_blank" href="https://tyagi-achint.github.io/">Achint Tyagi</a>
        </p>
    </footer>

</body>

</html>